@model List<FBZ.Encyclopedia.Web.Models.ComicRecord>

<h2>Fantasy B’zaar Comic Encyclopedia</h2>

<table class="table">
    <thead>
        <tr>
            <th>Title</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var comic in Model)
        {
            <tr>
                <td>@comic.Title</td>
            </tr>
        }
    </tbody>

</table>